.container {
	/* border: 1px solid black; */
	margin-top: 40px;
	margin-bottom: 40px;
}
* {
	/* outline: 1px solid gray; */
}

.x {
	outline: 1px solid gray;
}
.x * {
	outline: 1px solid gray;
}

/* Overwriting bootstrap css */
.btn-secondary {
	background-color: black;
}
